@page "/"

<header class="header" style="background-image: url('/images/24921.970.jpg')">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 offset-2 header-content">
                <h1> Новый Xiaomi Redmi Note 10 Pro со скидкой 10%</h1>
                <h4>Часть средств от продажи идет на борьбу с COVID 19 </h4>
                <button class="btn-main"> Подробнее </button>
            </div>
        </div>
    </div>
    <div class="overlay"> </div>
</header>