@page "/Mobiles"
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="product">
                <div class="image">
                    <img src="http://placehold.it/300x400" alt="" />
                </div>
                <div class="info">
                    <h3>Название товара</h3>
                    <ul class="rating">
                        <li>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                        </li>

                    </ul>
                    <div class="info-price">
                        <span class="price"> 230 <small>₽</small></span>
                        <button class="add-to-cart"> <ion-icon name="cart-outline"></ion-icon> </button>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="product">
                <div class="image">
                    <img src="/images/redmi note 10 pro210х300.png"  />
                </div>
                <div class="info">
                    <h3>Xiaomi Redmi Note 10 Pro</h3>
                    <ul class="rating">
                        <li>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                        </li>

                    </ul>
                    <div class="info-price">
                        <span class="price"> 230 <small>₽</small></span>
                        <button class="add-to-cart"> <ion-icon name="cart-outline"></ion-icon> </button>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="product">
                <div class="image">
                    <img src="http://placehold.it/300x400" alt="" />
                </div>
                <div class="info">
                    <h3>Название товара</h3>
                    <ul class="rating">
                        <li>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                        </li>

                    </ul>
                    <div class="info-price">
                        <span class="price"> 230 <small>₽</small></span>
                        <button class="add-to-cart"> <ion-icon name="cart-outline"></ion-icon> </button>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="product">
                <div class="image">
                    <img src="http://placehold.it/300x400" alt="" />
                </div>
                <div class="info">
                    <h3>Название товара</h3>
                    <ul class="rating">
                        <li>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                        </li>

                    </ul>
                    <div class="info-price">
                        <span class="price"> 230 <small>₽</small></span>
                        <button class="add-to-cart"> <ion-icon name="cart-outline"></ion-icon> </button>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="product">
                <div class="image">
                    <img src="http://placehold.it/300x400" alt="" />
                </div>
                <div class="info">
                    <h3>Название товара</h3>
                    <ul class="rating">
                        <li>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                        </li>

                    </ul>
                    <div class="info-price">
                        <span class="price"> 230 <small>₽</small></span>
                        <button class="add-to-cart"> <ion-icon name="cart-outline"></ion-icon> </button>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>