@inherits LayoutComponentBase



<div class="main">
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Phote Store</a>
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li> <a href="#"> Каталог </a></li>
                    <li> <a href="#"> Оплата и Доставка </a></li>
                    <li> <a href="#"> Акции и скидки </a></li>
                    <li> <a href="#"> Контакты </a></li>
                </ul>
                <a href="#" class="callback"> Обратный звонок</a>
            </div>
        </div>
    </nav>


    <div class="content px-4">
        @Body
    </div>
</div>
